@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h3.ui.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.ui.segment {
  background-color: rgba(41, 41, 41, 1) !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.ui.cards {
  justify-content: center;
}

.ui.cards > .card {
  width: 16% !important ;
}

.ui.pagination.menu {
  margin: 5vh 38% !important ;
}

.ui.dropdown {
  text-align: center !important;
}
.ui.dropdown > .text {
  font-size: 16px !important;
}
.ui.vertical.menu .dropdown.item .menu {
  left: 0 !important;

  border-radius: 0 !important;
}
.ui.vertical.menu .dropdown.item:not(.upward) .menu {
  top: 43px !important;
}
.ui.menu .ui.dropdown .menu .active.item {
  min-height: 42px !important;
}

.ui.dropdown .menu {
  min-width: 209px !important;
  padding-top: 10px !important;
  font-size: 16px !important;
  text-align: center !important;
  font-family: Arial, sans-serif !important;
}

h3.ui.header img {
  width: 12vw;
  height: auto;
  vertical-align: middle;
  padding-top: 1.3rem;
}
.ui.vertical.menu {
  margin-left: 8rem;
}
.ui.input {
  width: 300px;
  height: 40px;
  margin-left: 8rem;
  margin-top: 1rem;
}
.description,
.meta,
.header {
  margin-top: 1rem;
  margin-left: 2rem;
}
.ui.label:first-child {
  margin-top: 1rem;
  margin-left: 2rem !important;
}
.ui.primary.button {
  margin-top: 1rem;
  margin-left: 2rem !important;
}
.content {
  font-size: 20px;
  margin-top: 5vh;
  color: #fff;
}
#root > div > div.main-content > div > div.image > img {
  border-radius: 10px;
}

#root > div > div.main-content > div > div.content > div:nth-child(4) {
  width: 50vw;
}
.main-content .item {
  display: flex;
}
.main-content {
  background-color: rgba(41, 41, 41, 1);
  margin-top: -14px;
}
.semantic-item .image img {
  border-radius: 10px;
  margin: 5vw 0vh 5vh 10vw !important;
}
.person-item {
  background-color: rgba(41, 41, 41, 1);
}
.modal-button {
  margin: 13px 0.25em 0 20px !important;
}
.overview-item p {
  margin-top: -20px;
}
.ui.massive.input {
  height: 6vh;
  width: 30vw;
}
.ui.input > input {
  border-radius: 30px !important;
}
.main-page-content {
  background-color: rgba(41, 41, 41, 1);
  height: 92.8vh;
  margin-top: -14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-page-image {
  width: 30%;
}
.main-page-content .ui.input {
  margin-left: 0;
  margin-top: 5rem;
}
.cast-cards {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.cast-cards .ui.cards > .card {
  width: 18% !important ;
}
.person-content .header {
  font-size: 60px;
  font-family: 'Bebas Neue', cursive;
}
