h3.ui.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.ui.segment {
  background-color: #032541 !important;
}

.ui.cards {
  justify-content: center;
}

.ui.cards > .card a {
  width: 16% !important ;
}

.ui.pagination.menu {
  margin: 5vh 38% !important ;
}

h3.ui.header img {
  width: 12vw;
  height: auto;
  vertical-align: middle;
  padding-top: 1.3rem;
}
.ui.vertical.menu {
  margin-left: 8rem;
}
.ui.input {
  width: 300px;
  height: 40px;
  margin-left: 8rem;
  margin-top: 1rem;
}
.description,
.meta,
.header {
  margin-top: 1rem;
  margin-left: 2rem;
}
.ui.label:first-child {
  margin-top: 1rem;
  margin-left: 2rem !important;
}
.ui.primary.button {
  margin-top: 1rem;
  margin-left: 2rem !important;
}
.content{
  font-size: 18px;
}