@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h3.ui.header a {
  margin-left: 10vw;
  color: #fff;
}
h3.ui.header a:nth-child(2) {
  margin-left: 2vw;
}
.ui.segment {
  background-color: #032541 !important;
}

.ui.cards {
  justify-content: center;
}

.ui.cards > .card {
  width: 16% !important ;
}

.ui.pagination.menu {
  margin: 5vh 38% !important ;
}

h3.ui.header {
  font-size: 1rem !important;
  font-family: 'Roboto', sans-serif !important ;
}
h3.ui.header img {
  width: 8vw;
  height: auto;
  vertical-align: middle;
}
